.header {
    //min-height: 160px;
    padding: 21px 0;

    @media (max-width: 991px) {
        position: relative;
    }

    // .header__top

    &__top {
        margin-bottom: 30px;

        @media (max-width: 991px) {
            margin-bottom: 0;
        }
    }

    // .header__inner

    &__inner {
        @extend %flex-row-center;
    }

    // .header__logo

    &__logo {
        max-width: 223px;
        height: 61px;
    }

    // .header__info

    &__contact {
        @extend %vertical-align;

        @media (max-width: 991px) {
            display: block;
            margin-top: 30px;
        }
    }

    // .header__bottom

    &__bottom {
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            top: 100%;
            left: -100%;
            z-index: 101;
            width: 50%;
            height: 100vh;
            overflow: auto;
            background-color: $light-blue;
            padding: 50px 30px;
            transition: 0.4s left;
        }

        &--active {
            @media (max-width: 991px) {
                left: 0;
            }
        }

        @media (max-width: 575px) {
            width: 100%;
            padding: 30px;
        }
    }

    // .header__menu

    &__menu {
        @media (max-width: 1200px) {
            width: 100%;
        }
    }

    // .header__menu-list

    &__menu-list {
        @media (max-width: 1200px) {
            display: flex;
            justify-content: space-between;
        }

        @media (max-width: 991px) {
            flex-direction: column;
        }
    }

    // .header__menu-item

    &__menu-item+&__menu-item {
        margin-left: 60px;

        @media (max-width: 1650px) {
            margin-left: 35px;
        }

        @media (max-width: 1200px) {
            margin-left: 0;
        }

        @media (max-width: 991px) {
            margin-top: 25px;
        }
    }

    // .header__menu-link

    &__menu-link {
        @media (max-width: 1150px) {
            font-size: 16px;
        }

        @media (max-width: 991px) {
            font-size: 18px;
        }
    }

    &__search {
        //position: relative;
        //width: 30px;
        height: 30px;

        @media (max-width: 1200px) {
            display: none;
        }
    }

    // .header__search

    &__search-btn {
        width: 30px;
        height: 100%;
        background-color: transparent;
        border: none;
        background-image: url(../img/icons/search.png);
    }

    &__search-input {
        //position: absolute;
        //top: 0;
        //bottom: 0;
        //right: 0;
        //z-index: 100;
        width: 30px;
        height: 30px;
        @extend %gray-text;
        background-image: url(../img/icons/search.png);
        background-position: right center;
        background-repeat: no-repeat;
        transition: 0.3s width;
        cursor: pointer;

        &::placeholder {
            font-size: 0;
            color: $gray;
        }

        &:focus {
            width: 100%;

            &::placeholder {
                font-size: 16px;
            }
        }

        &::-webkit-search-cancel-button {
            position: relative;
            right: 50px;
            -webkit-appearance: none;
            width: 14px;
            height: 14px;
            background-image: url(../img/icons/search-cancel.png);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        margin-left: 44px;

        @media (max-width: 1650px) {
            margin-left: 20px;
        }

        @media (max-width: 991px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            margin-left: 0;
            margin-top: 30px;
        }
    }

    &__btn-item {
        font-size: 15px;
        letter-spacing: 0.38px;
    }

    &__btn {
        min-width: 240px;
        padding: 21.5px;

        @media (max-width: 991px) {
            grid-column: span 2;
        }
    }

    &__btn-item+&__btn-item {
        margin-left: 20px;

        @media (max-width: 991px) {
            margin-left: 0;
        }
    }

    &__link-btn {
        @extend %vertical-align;
        @include shadow(#c9cfd5);
        border-radius: $radius;
        padding: 5px 30px 5px 5px;
        font-weight: 700;
        transition: 0.3s box-shadow;

        &:hover {
            box-shadow: none;
        }

        span {
            @include icon(50px);
            flex-shrink: 0;
            @extend %flex-center;
            margin-right: 15px;
        }

        &--red {
            width: 170px;
            color: $red;

            span {
                background-color: $red;
            }
        }

        &--blue {
            width: 165px;
            color: $blue;

            span {
                background-color: $blue;
            }
        }
    }
}

.contact-header {
    &__item {
        align-items: flex-end;

        /* @media (max-width: 1600px) {
            flex-direction: column;
            align-items: flex-start;
        } */
        &:first-child {
            @media (max-width: 1450px) {
                display: none;
            }

            @media (max-width: 991px) {
                display: flex;
            }
        }
    }

    &__item-img {
        @include icon(50px);

        @media (max-width: 1600px) {
            display: none;
        }

        @media (max-width: 991px) {
            display: flex;
        }

        &--yellow {
            background-color: $yellow;
        }

        &--orange {
            background-color: $orange;
        }
    }

    &__item+&__item {
        margin-left: 40px;

        @media (max-width: 1650px) {
            margin-left: 20px;
        }

        @media (max-width: 1150px) {
            display: none;
        }

        @media (max-width: 991px) {
            display: flex;
            margin-left: 0;
            margin-top: 20px;
        }
    }

    &__select {
        font-size: 14px;
        color: $gray;

        @media (max-width: 991px) {
            background-color: transparent;
        }
    }

    // .info-header__item-content

    &__item-content {
        margin-left: 15px;

        @media (max-width: 1600px) {
            margin-left: 0;
        }

        @media (max-width: 991px) {
            margin-left: 15px;
        }
    }

    // .info-header__item-title

    &__item-title {
        @media (max-width: 1450px) {
            margin-bottom: 3px;
        }
    }

    // .info-header__item-link

    &__item-link {}
}