<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {"title": "Главная"})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <main class="page">
            @@include('../../blocks/modules/promo/_promo.html')

            <div class="page__sections">
                <section class="section doctors-section">
                    <div class="container">
                        <h2 class="title line-title counter-title page-title doctors-section__title">
                            Наши врачи
                        </h2>
                        <div class="doctors-section__inner">
                            <div class="doctors-section__slider">
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                                @@include('../../blocks/modules/doctor-card/_doctor-card.html')
                            </div>
                            <aside class="doctors-section__aside">
                                <div class="slider-buttons doctors-section__slider-arrows"></div>
                                <div class="doctors-section__aside-info">
                                    Команда
                                    квалифицированных
                                    специалистов
                                    <br><br>
                                    <strong>43 эксперта</strong>
                                    <br><br>
                                    средний опыт работы
                                    <strong>более 15 лет</strong>
                                </div>
                                <a href="doctors.html" class="doctors-section__link">
                                    Все<br>
                                    специалисты
                                </a>
                            </aside>
                        </div>
                    </div>
                </section>

                @@include('../../blocks/modules/services/_services.html')

                <section class="section about">
                    <div class="container">
                        <div class="about__inner">
                            <div class="about__content">
                                <h2 class="title line-title page-title counter-title about__title">
                                    Сеть семейных поликлиник
                                    <span>«Сантем»</span> -<br>
                                    комплексный подход
                                    к здоровью пациентов
                                </h2>
                                <div class="about__items">
                                    <div class="about__item">
                                        <div class="about__item-img">
                                            <img src="img/icons/medical-certificate.png" alt="Медицинский сертификат">
                                        </div>
                                        <h6 class="about__item-title">
                                            Здоровье начинается здесь
                                        </h6>
                                        <p class="about__item-text">
                                            При строительстве клиники использовались только современные технологии и
                                            материалы,
                                            чтобы
                                            соответствовать всем
                                            российским и европейским инженерным требованиям в области здравоохранения.
                                        </p>
                                    </div>
                                    <div class="about__item">
                                        <div class="about__item-img">
                                            <img src="img/icons/smart-home.png" alt="Умный дом">
                                        </div>
                                        <h6 class="about__item-title">
                                            «Умная больница»
                                        </h6>
                                        <p class="about__item-text">
                                            Медицинский центр спроектирован по принципу «Умного дома», посещать который
                                            безопасно и
                                            комфортно. Подрядчиком стала
                                            немецкая компания, которая построила ряд клиник в Германии, Израиле и
                                            Швейцарии.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="about__aside">
                                <img class="about__img" src="img/content/doctors.png" alt="Доктора рассматривают снимок">
                                <div class="about__links">
                                    <a href="#" class="about__link about__link--green">ОМС</a>
                                    <a href="#" class="about__link about__link--yellow">лицензии</a>
                                    <a href="#" class="about__link about__link--orange">Гарантии</a>
                                </div>
                            </div>
                        </div>

                        <div class="about__mission mission">
                            <img class="mission__img" src="img/director.png" alt="Директор Сантем" data-da=".mission__wrapper, 1200, last">
                            <div class="mission__content">
                                <h4 class="mission__title">Наша миссия</h4>
                                <p class="mission__text">
                                    Неуклонное повышение эффективности диагностики, лечения и оздоровления пациентов,
                                    качества
                                    медицинского обслуживания за
                                    счет формирования в коллективе высокой корпоративной культуры, профессиональной
                                    чести и
                                    гордости, за счет мотивации
                                    каждого сотрудника на большую отдачу в работе и постоянное совершенствование своей
                                    квалификации.
                                </p>
                                <div class="mission__wrapper">
                                    <div class="mission__wrap">
                                        <div class="mission__director">
                                            Генеральный директор
                                            <span>Толстых Михаил Семенович</span>
                                        </div>
                                        <ul class="mission__numbers numbers">
                                            <li class="numbers__item">
                                                <img src="img/icons/mission/caduceus.png" alt="" class="numbers__item-img">
                                                <div class="numbers__item-content">
                                                    <div class="numbers__item-num">120</div>
                                                    <div class="numbers__item-descr">
                                                        Медицинских
                                                        направлений
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="numbers__item">
                                                <img src="img/icons/mission/talking.png" alt="" class="numbers__item-img">
                                                <div class="numbers__item-content">
                                                    <div class="numbers__item-num">60%</div>
                                                    <div class="numbers__item-descr">
                                                        Обращаются по
                                                        рекомендации
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="numbers__item">
                                                <img src="img/icons/mission/feedback.png" alt="" class="numbers__item-img">
                                                <div class="numbers__item-content">
                                                    <div class="numbers__item-num">95 000</div>
                                                    <div class="numbers__item-descr">
                                                        Довольных
                                                        пациентов
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


            </div>

            <div id="map" style="width: 100%;">

            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>