<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {
"title": "Пациентам"
})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <nav class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="home.html">
                            <img src="img/icons/home.png" alt="Домашняя страница">
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="doctors.html">О клинике</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Пациентам</span>
                    </li>
                </ol>
            </div>
        </nav>

        <main class="page patients-page">
            <div class="container page__wrapper">
                <nav class="page__sidebar page-nav">
                    <h5 class="title page__sidebar-title">ДМС</h5>
                    <ul class="page-nav__list">
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link page-nav__link--active">Правила записи на прием</a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">Первый визит в клинику</a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Правила поведения пациента
                                в клинике
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Правила подготовки к
                                диагностике
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                График приема граждан
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Частые вопросы
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Налоговый вычет
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Контролирующие органы
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Согласие на обработку
                                персональных данных
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Правила предоставления
                                платных медуслуг
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Виды, условия, формы оказания
                                мед.услуг
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Правовые документы
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Показатели доступности и
                                качества медицинской помощи
                            </a>
                        </li>
                        <li class="page-nav__item">
                            <a href="#" class="page-nav__link">
                                Запрос на предоставление
                                мед.документации
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="page__content patients-page__content">
                    <h1 class="title line-title page-title">Пациентам</h1>
                    <p class="patients-page__top-text">
                        В клинике «Сантем» создана и успешно применяется программа реабилитации для таких пациентов.
                        Курс помогает не только
                        восстановить дыхательные функции после перенесенной болезни, но и улучшить общее физическое и
                        психологическое состояние
                        человека, избежать в дальнейшем хронических форм заболеваний легких. Легочная функция
                        восстанавливается после применения
                        данной программы. Это отчетливо мы видим при контрольных КТ.
                    </p>
                    <div class="patients-page__info-links">
                        <a href="#" class="patients-page__info-link">
                            Правила записи на прием
                        </a>
                        <a href="#" class="patients-page__info-link">
                            Первый визит в клинику
                        </a>
                        <a href="#" class="patients-page__info-link">
                            Правила поведения пациента в клинике
                        </a>
                    </div>
                    <div class="page__section patients-page__banner">
                        <div class="patients-page__banner-box">
                            <h2 class="title section-title patients-page__banner-title line-title">
                                Правила подготовки
                                к диагностике
                            </h2>
                            <a href="#" class="patients-page__banner-link">перейти к разделу</a>
                        </div>
                    </div>

                    <div class="page__section patients-page__links grid">
                        <a href="#" class="patients-page__link">
                            <span class="patients-page__link-img">
                                <img src="img/icons/shield.png" alt="ДМС">
                            </span>
                            <h5 class="title patients-page__link-title">
                                ДМС
                            </h5>
                        </a>
                        <a href="#" class="patients-page__link">
                            <span class="patients-page__link-img">
                                <img src="img/icons/cash-back.png" alt="Налоговый вычет">
                            </span>
                            <h5 class="title patients-page__link-title">
                                Налоговый вычет
                            </h5>
                        </a>
                    </div>

                    <section class="page__section reception-schedule">
                        <div class="reception-schedule__cols grid">
                            <div class="reception-schedule__col">
                                <div class="reception-schedule__title">
                                    Поликлиника №1
                                    Ярыгинская набережная, 29
                                </div>
                                <div class="reception-schedule__item">
                                    <h6 class="reception-schedule__item-title">Заведующая поликлиникой</h6>
                                    <div class="reception-schedule__item-info">
                                        Таисия Александровна Мутина
                                        <a href="tel:+73912803303">+7 (391) 280-33-03</a>
                                        <a href="mailto:mta@santem24.com">e-mail: mta@santem24.com</a>
                                        Время приема: вторник, четверг с 16:00 до 17:00
                                    </div>
                                </div>
                                <div class="reception-schedule__item">
                                    <h6 class="reception-schedule__item-title">Главный врач</h6>
                                    <div class="reception-schedule__item-info">
                                        Жанна Вячеславовна Дорошенко
                                        <a href="tel:+73912803303">+7 (391) 280-33-03</a>
                                        <a href="mailto:dzv@santem24.com">dzv@santem24.com</a>
                                        Время приема: среда с 16:00 до 17:00
                                    </div>
                                </div>
                            </div>
                            <div class="reception-schedule__col">
                                <div class="reception-schedule__title">
                                    Поликлиника №2
                                    Чернышевского, 120
                                </div>
                                <div class="reception-schedule__item">
                                    <h6 class="reception-schedule__item-title">Заведующая поликлиникой</h6>
                                    <div class="reception-schedule__item-info">
                                        Ольга Александровна Кузюкова
                                        <a href="tel:+73912803303">+7 (391) 280-33-03</a>
                                        <a href="mailto:koa@santem24.com">e-mail: koa@santem24.com</a>
                                        Время приема: вторник, четверг с 16:00 до 17:00
                                    </div>
                                </div>
                                <div class="reception-schedule__item">
                                    <h6 class="reception-schedule__item-title">Главный врач</h6>
                                    <div class="reception-schedule__item-info">
                                        Жанна Вячеславовна Дорошенко
                                        <a href="tel:+73912803303">+7 (391) 280-33-03</a>
                                        <a href="mailto:dzv@santem24.com">dzv@santem24.com</a>
                                        Время приема: среда с 16:00 до 17:00
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <a href="#" class="page__section patients-page__link">
                        <span class="patients-page__link-img">
                            <img src="img/icons/medical-report.png"
                                alt="Запрос на предоставление медицинской документации">
                        </span>
                        <h5 class="title patients-page__link-title">
                            Запрос на предоставление медицинской документации
                        </h5>
                    </a>

                    <section class="page__section form question-form">
                        <h4 class="title line-title section-title question-form__title">Задать вопрос</h4>
                        <form action="#" class="question-form__body grid">
                            <div class="form__input question-form__item question-form__input">
                                <div class="form__input-img">
                                    <img src="img/icons/input-user.png" alt="юзер">
                                </div>
                                <input name="name" placeholder="Представьтесь" required>
                            </div>
                            <div class="form__input question-form__item question-form__input">
                                <div class="form__input-img">
                                    <img src="img/icons/input-phone.png" alt="Телефон">
                                </div>
                                <input name="phone" type="tel" placeholder="Ваш телефон" required>
                            </div>
                            <div class="form__input question-form__item question-form__input">
                                <div class="form__input-img">
                                    <img src="img/icons/input-user.png" alt="Email">
                                </div>
                                <input name="email" type="email" placeholder="Адрес эл. почты" required>
                            </div>
                            <textarea class="input question-form__item question-form__textarea" name="user_question"
                                id="user_question" placeholder="Ваш вопрос/обращение"></textarea>
                            <div class="question-form__item question-form__bottom">
                                <small class="form__agreement">
                                    Нажимая на кнопку, вы даете согласие на обработку <a href="#">перcональных
                                        данных</a>
                                </small>
                                <button class="btn form__btn question-form__btn btn--red"
                                    type="submit">Отправить</button>
                            </div>
                        </form>
                    </section>

                    <div class="page__section patients-page__links grid">
                        <a href="#" class="patients-page__link">
                            <span class="patients-page__link-img">
                                <img src="img/icons/shield.png" alt="Иногородним">
                            </span>
                            <h5 class="title patients-page__link-title">Иногородним</h5>
                        </a>
                        <a href="#" class="patients-page__link">
                            <span class="patients-page__link-img">
                                <img src="img/icons/shield-2.png" alt="Гарантии">
                            </span>
                            <h5 class="title patients-page__link-title">Гарантии</h5>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>