<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {"title": "Акции"})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/breadcrumbs/_breadcrumbs.html', {
        "current_page": "Акции"
        })

        <main class="page promotion-page">
            <div class="container">
                <div class="page__top">
                    <h1 class="title line-title page-title">Акции</h1>
                    <p>
                        Главными показателями качества обслуживания являются соблюдение этического кодекса врача России,
                        приказов Минздрава РФ и
                        международных протоколов, использование оборудования экспертного класса, конфиденциальность,
                        создание комфортных условий
                        для всей семьи.
                    </p>
                    <form class="filter-form grid" action="#">
                        <select class="filter-style" name="affiliate" id="affiliate">
                            <option value="affiliate_1">Филиал</option>
                            <option value="affiliate_2">Филиал</option>
                            <option value="affiliate_3">Филиал</option>
                        </select>
                        <select class="filter-style" name="age-category" id="age-category">
                            <option value="age-category_1">Возрастная категория</option>
                            <option value="age-category_2">Возрастная категория</option>
                            <option value="age-category_3">Возрастная категория</option>
                        </select>
                        <button class="btn filter-form__btn btn--blue" type="submit">Сортировать</button>
                    </form>
                </div>

                <div class="page__cards promotion-page__cards grid">
                    <article class="promotion-card">
                        <a href="#">
                            <div class="date promotion-card__date">
                                <div class="date__img"></div>
                                02-14 октября 2020
                            </div>
                            <img class="promotion-card__img" src="img/promotion/promotion.jpg" alt="">
                            <h6 class="promotion-card__title">
                                Дарим 500 руб на все услуги за вызов врача или визит в
                                поликлинику
                            </h6>
                            <p class="promotion-card__text">
                                Студенты, предъявившие документ, удостоверяющий обучение в ВУЗе на дневном отделении, а
                                также преподаватели и врачи (по
                                предъявлению документов, подтверждающих место работы) могут сделать лазерную коррекцию
                                зрения в нашей клинике с 22%
                                скидкой.
                            </p>
                        </a>
                    </article>
                    <article class="promotion-card">
                        <a href="#">
                            <div class="date promotion-card__date">
                                <div class="date__img"></div>
                                02-14 октября 2020
                            </div>
                            <img class="promotion-card__img" src="img/promotion/promotion-2.jpg" alt="">
                            <h6 class="promotion-card__title">
                                Скидка 25% на годовые программы+ подарок
                            </h6>
                            <p class="promotion-card__text">
                                Студенты, предъявившие документ, удостоверяющий обучение в ВУЗе на дневном отделении, а
                                также преподаватели и врачи (по
                                предъявлению документов, подтверждающих место работы) могут сделать лазерную коррекцию
                                зрения в нашей клинике с 22%
                                скидкой. При совпадении скидок, предоставляется максимальная из них.
                            </p>
                        </a>
                    </article>
                    <article class="promotion-card">
                        <a href="#">
                            <div class="date promotion-card__date">
                                <div class="date__img"></div>
                                02-14 октября 2020
                            </div>
                            <img class="promotion-card__img" src="img/promotion/promotion.jpg" alt="">
                            <h6 class="promotion-card__title">
                                Дарим 500 руб на все услуги за вызов врача или визит в
                                поликлинику
                            </h6>
                            <p class="promotion-card__text">
                                Студенты, предъявившие документ, удостоверяющий обучение в ВУЗе на дневном отделении, а
                                также преподаватели
                                и врачи (по
                                предъявлению документов, подтверждающих место работы) могут сделать лазерную коррекцию
                                зрения в нашей
                                клинике с 22%
                                скидкой.
                            </p>
                        </a>
                    </article>
                    <article class="promotion-card finished">
                        <a href="#">
                            <div class="date promotion-card__date">
                                <div class="date__img"></div>
                                Акция завершена
                            </div>
                            <img class="promotion-card__img" src="img/promotion/promotion-disabled.jpg" alt="">
                            <h6 class="promotion-card__title">
                                Скидка 25% на годовые программы+ подарок
                            </h6>
                            <p class="promotion-card__text">
                                Студенты, предъявившие документ, удостоверяющий обучение в ВУЗе на дневном отделении, а
                                также преподаватели и врачи (по
                                предъявлению документов, подтверждающих место работы) могут сделать лазерную коррекцию
                                зрения в нашей клинике с 22%
                                скидкой. При совпадении скидок, предоставляется максимальная из них.
                            </p>
                        </a>
                    </article>
                </div>
            </div>

            @@include('../../blocks/modules/pagination/_pagination.html')
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>