<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {"title": "Отзывы"})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <nav class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="home.html">
                            <img src="img/icons/home.png" alt="Домашняя страница">
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="#">О клинике</a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Отзывы</span>
                    </li>
                </ol>
            </div>
        </nav>

        <main class="page">
            <section class="reviews">
                <div class="container">
                    <h1 class="title line-title page-title reviews__title">Отзывы</h1>
                    <div class="page__wrapper reviews__wrapper">
                        <div class="reviews__content">
                            <article class="reviews__item review-item">
                                <div class="review-item__info">
                                    <div class="review-item__img-wrap">
                                        <img class="review-item__img" src="img/icons/blue-user.png"
                                            alt="Клиент без аватара">
                                    </div>
                                    <div class="review-item__info-text">
                                        <h6 class="review-name reviews__item-name">Иванова К.</h6>
                                        <time class="review-date reviews__item-date"
                                            datetime="2020-03-12">12.03.2020</time>
                                    </div>
                                </div>
                                <div class="reviews__item-content">
                                    <div class="review-item__topic">
                                        <div class="review-item__topic-title">Тема:</div>
                                        <div class="review-item__topic-items">
                                            <a href="#" class="tag review-item__topic-item">
                                                Фомин Андрей Викторович
                                            </a>
                                            <a href="#" class="tag review-item__topic-item">
                                                Педиатрия
                                            </a>
                                        </div>
                                    </div>
                                    <p class="review-item__text">
                                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                        несколько абзацев более менее осмысленного
                                        текста рыбы на русском языке, а начинающему оратору отточить навык публичных
                                        выступлений в домашних условиях. При
                                        создании... небезизвестный универсальный код речей. Текст генерируется
                                        абзацами случайным образом от двух до десяти
                                    </p>
                                </div>
                            </article>
                            <article class="reviews__item review-item">
                                <div class="review-item__info">
                                    <img class="review-item__img" src="img/client.png" alt="Аватар клиента">
                                    <div class="review-item__info-text">
                                        <h6 class="review-name reviews__item-name">Александр</h6>
                                        <time class="review-date reviews__item-date"
                                            datetime="2020-03-12">12.03.2020</time>
                                    </div>
                                </div>
                                <div class="reviews__item-content">
                                    <div class="review-item__topic">
                                        <div class="review-item__topic-title">Тема:</div>
                                        <a href="#" class="tag review-item__topic-item">
                                            Смирнов Александр Борисович
                                        </a>
                                    </div>
                                    <p class="review-item__text">
                                        Медицинский центр спроектирован по принципу «Умного дома», посещать который
                                        безопасно и комфортно. Подрядчиком стала
                                        немецкая компания, которая построила ряд клиник в Германии, Израиле и Швейцарии.
                                    </p>
                                    <figure class="review-item__message">
                                        <blockquote>
                                            <p>Уважаемый Александр Николаевич!</p><br>
                                            <p>
                                                Так приятно получить Ваши поздравления! Клиника, действительно, собрала
                                                вместе коллектив профессионалов, увлеченных
                                                своим делом. И, конечно, главная заслуга в том Евгении Германовны. Вы
                                                правы,
                                                это потрясающий руководитель, которого
                                                уважают и любят как коллеги, так и пациенты.
                                            </p><br>
                                            <p>Всегда рады видеть Вас снова!</p>
                                        </blockquote>
                                        <figcaption class="review-item__message-persone">
                                            Директор по сервису Жанна Геннадьевна
                                        </figcaption>
                                    </figure>
                                </div>
                            </article>
                            <article class="reviews__item review-item">
                                <div class="review-item__info">
                                    <div class="review-item__img-wrap">
                                        <img class="review-item__img" src="img/icons/blue-user.png"
                                            alt="Клиент без аватара">
                                    </div>
                                    <div class="review-item__info-text">
                                        <h6 class="review-name reviews__item-name">Иванова К.</h6>
                                        <time class="review-date reviews__item-date"
                                            datetime="2020-03-12">12.03.2020</time>
                                    </div>
                                </div>
                                <div class="reviews__item-content">
                                    <div class="review-item__topic">
                                        <div class="review-item__topic-title">Тема:</div>
                                        <div class="review-item__topic-items">
                                            <a href="#" class="tag review-item__topic-item">
                                                Фомин Андрей Викторович
                                            </a>
                                            <a href="#" class="tag review-item__topic-item">
                                                Педиатрия
                                            </a>
                                        </div>
                                    </div>
                                    <p class="review-item__text">
                                        Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать
                                        несколько абзацев более менее осмысленного
                                        текста рыбы на русском языке, а начинающему оратору отточить навык публичных
                                        выступлений в домашних условиях. При
                                        создании... небезизвестный универсальный код речей. Текст генерируется абзацами
                                        случайным образом от двух до десяти
                                    </p>
                                    <div class="review-item__images">
                                        <img src="img/operation-room.jpg"
                                            alt="Доктора разговаривают друг с другом в операционной комнате">
                                        <img src="img/blood-pressure.jpg"
                                            alt="Молодой врач-терапевт мерит давление пациенту">
                                    </div>
                                </div>
                            </article>
                            <article class="reviews__item review-item">
                                <div class="review-item__info">
                                    <img class="review-item__img" src="img/client.png" alt="Аватар клиента">
                                    <div class="review-item__info-text">
                                        <h6 class="review-name reviews__item-name">Александр</h6>
                                        <time class="review-date reviews__item-date"
                                            datetime="2020-03-12">12.03.2020</time>
                                    </div>
                                </div>
                                <div class="reviews__item-content">
                                    <div class="review-item__topic">
                                        <div class="review-item__topic-title">Тема:</div>
                                        <a href="#" class="tag review-item__topic-item">
                                            Смирнов Александр Борисович
                                        </a>
                                    </div>
                                    <p class="review-item__text">
                                        Медицинский центр спроектирован по принципу «Умного дома», посещать который
                                        безопасно и комфортно. Подрядчиком стала
                                        немецкая компания, которая построила ряд клиник в Германии, Израиле и Швейцарии.
                                    </p>
                                    <a href="#" class="review-item__video">
                                        <img src="img/review-video.jpg" alt="Девушка печатает на ноутбуке">
                                    </a>
                                </div>
                            </article>
                        </div>
                        <aside class="reviews__aside">
                            <figure class="reviews__aside-widget">
                                <img src="img/widgets/flamp.jpg" alt="Виджет флампа">
                                <figcaption>Виджет флампа</figcaption>
                            </figure>
                            <figure class="reviews__aside-widget">
                                <img src="img/widgets/doctors.jpg" alt="Виджет продокторов">
                                <figcaption>Виджет продокторов</figcaption>
                            </figure>
                        </aside>
                    </div>
                </div>
            </section>

            @@include('../../blocks/modules/pagination/_pagination.html')

            @@include('../../blocks/modules/reviews/_review-form.html')
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>