<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {"title": "Услуга"})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <nav class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="home.html">
                            <img src="img/icons/home.png" alt="Домашняя страница">
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="articles.html">
                            Статьи
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Программа реабилитации пациентов после после ОРВИ, пневмонии и covid - 19</span>
                    </li>
                </ol>
            </div>
        </nav>

        <main class="page service-page">
            <div class="container page__wrapper">
                <div class="page__sidebar">
                    <nav class="page-nav">
                        <ul class="page-nav__list">
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link page-nav__link--drop">
                                    Семейная медицина
                                </a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link page-nav__link--active page-nav__link--drop">
                                    Хирургия
                                </a>
                                <ul class="page-nav__sublist page-nav__sublist--visible">
                                    <li class="page-nav__sublist-item">
                                        <a href="#" class="page-nav__sublist-link">Урология</a>
                                    </li>
                                    <li class="page-nav__sublist-item">
                                        <a href="#" class="page-nav__sublist-link">Проктология</a>
                                    </li>
                                    <li class="page-nav__sublist-item">
                                        <a href="#" class="page-nav__sublist-link">Флебология</a>
                                    </li>
                                    <li class="page-nav__sublist-item">
                                        <a href="#" class="page-nav__sublist-link">Амбулаторная хирургия</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link page-nav__link--drop">Гинекология</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link page-nav__link--drop">Офтальмология</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Неврология</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Оториноларингология</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Массаж</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Вызов специалиста на дом</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Процедурный кабинет</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Выдача медицинской документации</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Программы наблюдения</a>
                            </li>
                            <li class="page-nav__item">
                                <a href="#" class="page-nav__link">Телемедицина</a>
                            </li>
                        </ul>
                    </nav>
                    <a href="#" class="btn page__sidebar-btn btn--red">Диспансеризация</a>
                </div>
                <div class="page__content">
                    <div class="service-page__top-content">
                        <img class="service-page__top-img" src="img/content/service-page.jpg"
                            alt=" Мужчина в антиковидной маске">
                        <div class="service-page__top-text">
                            <p>
                                Врач хирург (Красноярск) занимается оказанием высококвалифицированной медицинской помощи
                                при заболеваниях и травмах,
                                требующих хирургического лечения. Проводит диагностику и лечение новообразований кожи, а
                                также необходимые манипуляции в
                                таком направлении как травматология-ортопедия.
                            </p><br>
                            <p>
                                К врачу хирургу следует незамедлительно обратиться, если у Вас появились резкие боли,
                                отёки и покраснения мягких тканей,
                                если на теле появились опухоли, бородавки и другие подобные новообразования без видимой
                                на то причины
                            </p>
                        </div>
                    </div>
                    <div class="page__sections">
                        <section class="page__section doctors-section">
                            <h2 class="title line-title page-title counter-title page__section-title">Врачи</h2>
                            <div class="doctors-section__cards grid">
                                <div class="doctor-card">
                                    <button class="doctor-card__like-btn">
                                        <span class="doctor-card__like-icon"></span>
                                        <span class="doctor-card__like-num">1265</span>
                                    </button>
                                    <a href="doctor.html">
                                        <img class="doctor-card__img" src="img/doctors/doctor-1.jpg" alt="Фото доктора">
                                    </a>
                                    <div class="doctor-card__content">
                                        <a href="doctor.html" class="doctor-card__name">
                                            Ануфриев Андрей
                                            Ярославович
                                        </a>
                                        <div class="doctor-card__info">
                                            Заведующий хирургическим
                                            отделением, врач-хирург
                                            Опыт работы: <span>15 лет</span>
                                        </div>
                                        <a href="#" class="btn doctor-card__btn btn--red">
                                            Записаться на прием
                                        </a>
                                    </div>
                                </div>
                                <div class="doctor-card">
                                    <button class="doctor-card__like-btn">
                                        <span class="doctor-card__like-icon"></span>
                                        <span class="doctor-card__like-num">1265</span>
                                    </button>
                                    <a href="doctor.html">
                                        <img class="doctor-card__img" src="img/doctors/doctor-1.jpg" alt="Фото доктора">
                                    </a>
                                    <div class="doctor-card__content">
                                        <a href="doctor.html" class="doctor-card__name">
                                            Ануфриев Андрей
                                            Ярославович
                                        </a>
                                        <div class="doctor-card__info">
                                            Заведующий хирургическим
                                            отделением, врач-хирург
                                            Опыт работы: <span>15 лет</span>
                                        </div>
                                        <a href="#" class="btn doctor-card__btn btn--red">
                                            Записаться на прием
                                        </a>
                                    </div>
                                </div>
                                <div class="doctor-card">
                                    <button class="doctor-card__like-btn">
                                        <span class="doctor-card__like-icon"></span>
                                        <span class="doctor-card__like-num">1265</span>
                                    </button>
                                    <a href="doctor.html">
                                        <img class="doctor-card__img" src="img/doctors/doctor-1.jpg" alt="Фото доктора">
                                    </a>
                                    <div class="doctor-card__content">
                                        <a href="doctor.html" class="doctor-card__name">
                                            Ануфриев Андрей
                                            Ярославович
                                        </a>
                                        <div class="doctor-card__info">
                                            Заведующий хирургическим
                                            отделением, врач-хирург
                                            Опыт работы: <span>15 лет</span>
                                        </div>
                                        <a href="#" class="btn doctor-card__btn btn--red">
                                            Записаться на прием
                                        </a>
                                    </div>
                                </div>
                                <div class="doctor-card">
                                    <button class="doctor-card__like-btn">
                                        <span class="doctor-card__like-icon"></span>
                                        <span class="doctor-card__like-num">1265</span>
                                    </button>
                                    <a href="doctor.html">
                                        <img class="doctor-card__img" src="img/doctors/doctor-1.jpg" alt="Фото доктора">
                                    </a>
                                    <div class="doctor-card__content">
                                        <a href="doctor.html" class="doctor-card__name">
                                            Ануфриев Андрей
                                            Ярославович
                                        </a>
                                        <div class="doctor-card__info">
                                            Заведующий хирургическим
                                            отделением, врач-хирург
                                            Опыт работы: <span>15 лет</span>
                                        </div>
                                        <a href="#" class="btn doctor-card__btn btn--red">
                                            Записаться на прием
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="page__section prices-section">
                            <h2 class="title line-title page-title counter-title page__section-title">
                                Цены на услуги хирургии
                            </h2>
                            <div class="price-list">
                                <div class="price-list__item">
                                    <div class="price-list__item-row">
                                        <h6 class="price-list__item-title">
                                            Прием (осмотр, консультация) врача невролога первичный
                                        </h6>
                                        <div class="price-list__item-price">2 145 ₽</div>
                                        <button class="btn price-list__add-btn btn--blue"></button>
                                        <a href="#" class="btn price-list__btn btn--blue">Записаться</a>
                                    </div>
                                    <div class="price-list__item-descr">
                                        <p>Описание услуги, актуально в разделе “Анализы”</p>
                                        <p>Срок выполнения: 1 день.</p>
                                        <p>Рекомендуется сдавать кровь утром натощак или не ранее, чем через 2-4 часа
                                            после приема пищи.</p>
                                    </div>
                                </div>
                                <div class="price-list__item">
                                    <div class="price-list__item-row">
                                        <h6 class="price-list__item-title">
                                            Прием (осмотр, консультация) врача невролога первичный
                                        </h6>
                                        <div class="price-list__item-price">1 500 ₽ </div>
                                        <button class="btn price-list__add-btn btn--blue"></button>
                                        <a href="#" class="btn price-list__btn btn--blue">Записаться</a>
                                    </div>
                                </div>
                                <div class="price-list__item">
                                    <div class="price-list__item-row">
                                        <h6 class="price-list__item-title">
                                            Прием (осмотр, консультация) врача невролога первичный
                                        </h6>
                                        <div class="price-list__item-price">1 500 ₽ </div>
                                        <button class="btn price-list__add-btn btn--blue"></button>
                                        <a href="#" class="btn price-list__btn btn--blue">Записаться</a>
                                    </div>
                                </div>
                            </div>
                            <a href="prices.html" class="btn price-list__link btn--blue">Посмотреть весь прайс</a>
                        </section>
                        <section class="page__section promotion-section">
                            <h2 class="title line-title page-title counter-title page__section-title">Акции</h2>
                            <div class="promotion-section__slider">
                                <div class="promotion-section__item">
                                    @@include('../../blocks/modules/promotion/_promotion-item.html')
                                </div>
                                <div class="promotion-section__item">
                                    @@include('../../blocks/modules/promotion/_promotion-item.html')
                                </div>
                                <div class="promotion-section__item">
                                    @@include('../../blocks/modules/promotion/_promotion-item.html')
                                </div>
                            </div>
                            @@include('../../blocks/modules/contact-form/_contact-form.html', {"btn":
                            "Подписаться"})
                        </section>
                        <section class="page__section text-block">
                            <h2 class="title line-title counter-title page__section-title">Текстовый блок</h2>
                            <p>
                                В клинике «К медицина» создана и успешно применяется программа реабилитации для таких
                                пациентов. Курс помогает не только
                                восстановить дыхательные функции после перенесенной болезни, но и улучшить общее
                                физическое и психологическое состояние
                                человека, избежать в дальнейшем хронических форм заболеваний легких. Легочная функция
                                восстанавливается после применения
                                данной программы. Это отчетливо мы видим при контрольных КТ.
                            </p>
                            <ul class="mark-list">
                                <li class="mark-list__item">
                                    Консультации врача-пульмонолога (наблюдение в течение всего периода реабилитации);
                                </li>
                                <li class="mark-list__item">
                                    Лабораторная диагностика, для назначения правильного лечения;
                                </li>
                                <li class="mark-list__item">
                                    Аппаратная диагностика (ФВД и Пульсоксиметрия);
                                </li>
                                <li class="mark-list__item">
                                    Если понадобится консультации врача другой специальности;
                                </li>
                                <li class="mark-list__item">Дыхательная гимнастика;</li>
                                <li class="mark-list__item">Лечебный массаж грудной клетки;</li>
                                <li class="mark-list__item">Медикаментозное лечение;5.jpg</li>
                                <li class="mark-list__item">Ингаляции;</li>
                                <li class="mark-list__item">Рефлексотерапия.</li>
                                <li class="mark-list__item">Страх и депрессия.</li>
                            </ul>
                        </section>
                        <section class="page__section benefits-section">
                            <h2 class="title line-title page-title counter-title page__section-title">Наши преимущества
                            </h2>
                            <div class="benefits__items grid">
                                <div class="benefits__item">
                                    <h6 class="benefits__item-title">
                                        Семейный врач - специалист общей практики
                                    </h6>
                                    <p class="benefits__item-text">
                                        Это значит, что абсолютно любой вопрос, связанный с вашим здоровьем из любой
                                        области медицины может быть решён одним
                                        человеком в кратчайшие сроки
                                    </p>
                                </div>
                                <div class="benefits__item">
                                    <h6 class="benefits__item-title">
                                        Работаем 7 дней в неделю
                                    </h6>
                                    <p class="benefits__item-text">
                                        В поликлинике всегда есть дежурный врач, поэтому на приём к семейному доктору Вы
                                        можете попасть в любой день, включая
                                        выходные
                                    </p>
                                </div>
                                <div class="benefits__item">
                                    <h6 class="benefits__item-title">
                                        Прием по полисам ОМС
                                    </h6>
                                    <p class="benefits__item-text">
                                        Вы можете прикрепиться к нашей семейной поликлинике по ОМС и получать
                                        медицинскую помощь по программе гос.гарантий, как
                                        в обычной городской поликлинике
                                    </p>
                                </div>
                                <div class="benefits__item">
                                    <h6 class="benefits__item-title">
                                        Вызов врача на дом
                                    </h6>
                                    <p class="benefits__item-text">
                                        При необходимости Вы можете вызвать семейного врача на дом и получить подробную
                                        консультацию, диагностику и назначение
                                        лечения не выходя из дома.
                                    </p>
                                </div>
                                <div class="benefits__item">
                                    <h6 class="benefits__item-title">
                                        Быстрое оформление справок
                                    </h6>
                                    <p class="benefits__item-text">
                                        В нашей семейной поликлинике Вы можете за 1 день оформить жёлтую карту, сделать
                                        справку в бассейн, детский лагерь,
                                        санаторно-курортную карту, справку в ВУЗ и др.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>