<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {"title": "Услуги"})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        @@include('../../blocks/modules/breadcrumbs/_breadcrumbs.html', {
        "current_page": "Услуги"
        })

        <main class="page services-page">
            <div class="container">
                <h1 class="title line-title page-title">Услуги</h1>
                <div class="services-page__items grid">
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/1.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/family.png" alt="Семейная медицина">
                                </span>
                                Семейная медицина
                            </span>
                        </a>
                        <div class="services-page__item-links">
                            <div class="services-page__item-col">
                                <ul class="mark-list services-page__item-list">
                                    <li class="mark-list__item"><a href="#">Инфектология</a></li>
                                    <li class="mark-list__item"><a href="#">Педиатрия</a></li>
                                    <li class="mark-list__item"><a href="#">Терапия</a></li>
                                    <li class="mark-list__item"><a href="#">Кардиология</a></li>
                                    <li class="mark-list__item"><a href="#">Гастроэнтерология</a></li>
                                    <li class="mark-list__item"><a href="#">Дерматология</a></li>
                                    <li class="mark-list__item"><a href="#">Аллерология</a></li>
                                    <li class="mark-list__item"><a href="#">Иммунология</a></li>
                                </ul>
                            </div>
                            <div class="services-page__item-col">
                                <ul class="mark-list services-page__item-list">
                                    <li class="mark-list__item"><a href="#">Ортопедия</a></li>
                                    <li class="mark-list__item"><a href="#">Гемостазиология</a></li>
                                    <li class="mark-list__item"><a href="#">Урология</a></li>
                                    <li class="mark-list__item"><a href="#">Нефрология</a></li>
                                    <li class="mark-list__item"><a href="#">Ревматология</a></li>
                                    <li class="mark-list__item"><a href="#">Гематология</a></li>
                                    <li class="mark-list__item"><a href="#">Пульмонология</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/2.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/scalpel.png" alt="Семейная медицина">
                                </span>
                                Хирургия
                            </span>
                        </a>
                        <ul class="mark-list services-page__item-list">
                            <li class="mark-list__item"><a href="#">Урология</a></li>
                            <li class="mark-list__item"><a href="#">Проктология</a></li>
                            <li class="mark-list__item"><a href="#">Флебология</a></li>
                            <li class="mark-list__item"><a href="#">Амбулаторная хирургия</a></li>
                        </ul>
                    </div>

                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/3.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/patch.png" alt="Процедурный кабинет">
                                </span>
                                Процедурный кабинет
                            </span>
                        </a>
                    </div>

                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/4.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/uterus.png" alt="Гинекология">
                                </span>
                                Гинекология
                            </span>
                        </a>
                        <div class="mark-list services-page__item-links services-page__item-list">
                            <a class="mark-list__item" href="#">Лечение эрозии шейки матки</a>
                            <a class="mark-list__item" href="#">Детский гинеколог</a>
                        </div>
                    </div>

                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/5.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/hear.png" alt="Оториноларингология">
                                </span>
                                Оториноларингология
                            </span>
                        </a>
                    </div>
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/6.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/doc.png" alt="Медицинская документация">
                                </span>
                                Выдача медицинской
                                документации
                            </span>
                        </a>
                    </div>
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/7.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/eye.png" alt="Офтальмология">
                                </span>
                                Офтальмология
                            </span>
                        </a>
                        <div class="services-page__item-links">
                            <div class="services-page__item-col">
                                <ul class="mark-list services-page__item-list">
                                    <li class="mark-list__item"><a href="#">Взрослый офтальмолог</a></li>
                                    <li class="mark-list__item"><a href="#">Детский офтальмолог</a></li>
                                </ul>
                            </div>
                            <div class="services-page__item-col">
                                <ul class="mark-list services-page__item-list">
                                    <li class="mark-list__item"><a href="#">Удаление халязиона</a></li>
                                    <li class="mark-list__item"><a href="#">Зондирование носослезного канала</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/8.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/massage.png" alt="Массаж">
                                </span>
                                Массаж
                            </span>
                        </a>
                    </div>
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/9.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/stethoscope.png" alt="Программы наблюдения">
                                </span>
                                Программы наблюдения
                            </span>
                        </a>
                    </div>
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/10.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/neuron.png" alt="Неврология">
                                </span>
                                Неврология
                            </span>
                        </a>
                    </div>
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/11.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/taxi.png" alt="Вызов специалиста на дом">
                                </span>
                                Вызов специалиста на дом
                            </span>
                        </a>
                    </div>
                    <div class="services-page__item">
                        <a href="#" class="services-page__card">
                            <img src="img/services/12.jpg" alt="" class="services-page__card-img">
                            <span class="services-page__card-descr">
                                <span class="services-page__card-icon">
                                    <img src="img/icons/services/news.png" alt="Телемедицина">
                                </span>
                                Телемедицина
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>