<!DOCTYPE html>
<html lang="ru">
@@include('../_head.html', {"title": "Текстовая акции"})

<body>

    <div class="wrapper">
        @@include('../../blocks/modules/header/_header.html')

        <nav class="breadcrumbs">
            <div class="container">
                <ol class="breadcrumbs__list">
                    <li class="breadcrumbs__item">
                        <a href="home.html">
                            <img src="img/icons/home.png" alt="Домашняя страница">
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <a href="promotion.html">
                            Акции
                        </a>
                    </li>
                    <li class="breadcrumbs__item">
                        <span>Скидка 25% на годовые программы + подарок</span>
                    </li>
                </ol>
            </div>
        </nav>

        <main class="page text-page">
            <div class="container">
                <h1 class="title line-title page-title">Скидка 25% на годовые программы + подарок</h1>
                <div class="page__wrapper">
                    <div class="page__content">
                        <div class="text-page__img">
                            <div class="date text-page__img-date">
                                <div class="date__img"></div>
                                02-14 октября 2020
                            </div>
                            <img src="img/content/text-promotion.jpg"
                                alt="Мужчина-врач рассмативает что-то под микроскопом">
                        </div>
                        @@include('../../blocks/modules/text-page/_text-page.html')
                        @@include('../../blocks/modules/share/_share.html')
                        <section class="contact-form text-page__form">
                            <h3 class="title line-title contact-form__title">
                                Хотите быть в курсе наших акций?
                            </h3>
                            <form class="contact-form__inner" action="#">
                                <p class="contact-form__subtitle">
                                    Подпишитесь на нашу рассылку, и станьте одним из первых, кто будет в курсе всех
                                    акций!
                                </p>
                                <div class="contact-form__wrap">
                                    <div class="form__input contact-form__input">
                                        <div class="form__input-img">
                                            <img src="img/icons/input-user.png" alt="юзер">
                                        </div>
                                        <input name="name" placeholder="Представьтесь" required>
                                    </div>
                                    <div class="form__input contact-form__input">
                                        <div class="form__input-img">
                                            <img src="img/icons/email.png" alt="эл. почта">
                                        </div>
                                        <input name="emaill" type="email" placeholder="Ваша эл. почта" required>
                                    </div>
                                    <button class="btn form__btn contact-form__btn btn--red"
                                        type="submit">Подписаться</button>
                                </div>
                                <small class="form__agreement contact-form__politics">
                                    Нажимая на кнопку, вы даете согласие на обработку <a href="#">перональных
                                        данных</a>
                                </small>
                            </form>
                        </section>
                    </div>
                    <div class="page__sidebar">
                        <nav class="page__sidebar page-nav">
                            <h5 class="page-nav__title">Навигация по странице</h5>
                            <ol class="page-nav__list">
                                <li class="page-nav__item">
                                    <a href="#need-reabilitation" class="page-nav__link">
                                        Реабилитация крайне
                                        необходима, если у Вас
                                    </a>
                                </li>
                                <li class="page-nav__item">
                                    <a href="#program" class="page-nav__link page-nav__link--active">
                                        Что входит в программу
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </main>

        @@include('../../blocks/modules/footer/_footer.html')
    </div>

    @@include('../_js.html')

</body>

</html>