Список сверстанных страниц:
<ul>
    <li style="margin-bottom: 20px"><a href="home.html">Главная</a></li>
    <li style="margin-bottom: 20px"><a href="patients.html">Пациентам</a></li>
    <li style="margin-bottom: 20px"><a href="services.html">Услуги</a></li>
    <li style="margin-bottom: 20px"><a href="service.html">Услуга</a></li>
    <li style="margin-bottom: 20px"><a href="doctors.html">Врачи</a></li>
    <li style="margin-bottom: 20px"><a href="doctor.html">Врач внутренняя</a></li>
    <li style="margin-bottom: 20px"><a href="omc.html">OMC</a></li>
    <li style="margin-bottom: 20px"><a href="articles.html">Статьи</a></li>
    <li style="margin-bottom: 20px"><a href="prices.html">Цены</a></li>
    <li style="margin-bottom: 20px"><a href="reviews.html">Отзывы</a></li>
    <li style="margin-bottom: 20px"><a href="promotion.html">Акции</a></li>
    <li style="margin-bottom: 20px"><a href="text.html">Текстовая</a></li>
    <li style="margin-bottom: 20px"><a href="text-promotion.html">Текстовая акции</a></li>
    <li style="margin-bottom: 20px"><a href="contacts.html">Контакты</a></li>
    <li style="margin-bottom: 20px"><a href="404.html">Страница 404</a></li>
</ul>