.date {
    @extend %vertical-align;
    border-radius: $radius;
    background: linear-gradient(to right, $light-blue 0%, #ffffff 100%);
    font-size: 18px;
    font-weight: 600;
    color: $dark;
    &__img {
        @include bg-icon(50px, $green, $light-shadow);
        position: relative;
        margin-right: 20px;
        &:before {
            content: '';
            position: absolute;
            @extend %pos-center-xy;
            width: 24px;
            height: 22px;
            background-image: url('../img/icons/calendar.png');
        }
    }
}
