.title {
    font-weight: 600;
    color: $dark;
}

.page-title {
    font-size: 36px;

    @media(max-width: 575px) {
        font-size: 27px;
    }
}

.section-title {
    font-size: 30px;

    @media(max-width: 767px) {
        font-size: 25px;
    }
}

.line-title {
    position: relative;
    padding-left: 108px;

    &:before {
        content: '';
        position: absolute;
        @extend %pos-center-y;
        left: 0;
        display: block;
        width: 85px;
        height: 2px;
        background-color: $blue;
    }
}

.counter-title {
    padding-left: 140px;

    @media(max-width: 575px) {
        padding-left: 0px;
    }

    &:before {
        left: 35px;

        @media(max-width: 575px) {
            display: none;
        }
    }

    &:after {
        content: '0'counter(section-counter);
        counter-increment: section-counter;
        position: absolute;
        @extend %pos-center-y;
        left: 0;
        font-size: 14px;
        font-weight: 600;
        color: $blue;

        @media(max-width: 575px) {
            top: -20px;
            transform: none;
            font-size: 20px;
        }
    }
}